body {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}

a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

select {
    width: 200px;
    height: 30px;    
}

.select-area{
    background-color: burlywood;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.display-area{
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
}

.row {
    background-color: bisque;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;    
}

.row:hover {
    background-color: coral;
}

.line {
    background-color:darkblue;
    height:2px;
}