<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBDependence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DBDependence.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>Server=USCOVWCS10DB.infor.com;Database=RS8380_CSI10;Trusted_Connection=True;</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>D:\Files\Code\Development\csi</value>
            </setting>
            <setting name="TargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileToProcess" serializeAs="String">
                <value />
            </setting>
        </DBDependence.Properties.Settings>
    </userSettings>
</configuration>