<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDOTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <IDOTestClient.Properties.Settings>
            <setting name="MachineName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ConfigName" serializeAs="String">
                <value>CSI10_DALS_Local</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IDOName" serializeAs="String">
                <value>SLApplicationModules</value>
            </setting>
            <setting name="MethodName" serializeAs="String">
                <value>RunTest</value>
            </setting>
            <setting name="Params" serializeAs="String">
                <value />
            </setting>
        </IDOTestClient.Properties.Settings>
    </userSettings>
</configuration>